@{
	ViewBag.Title = "Adminform";
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Adminform</title>
	<h2 style="color: white;text-align:center; border: 1px solid brown;background-color: saddlebrown"> @Html.ActionLink("Status Check", "Adminform", "Admin", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("List of Students", "studentlistform", "studentlist", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("List Of Staff Members", "stafflistform", "stafflist", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Room Allocation", "Allocationform", "Allocation", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Log out", "LoginForm", "Login", null, new { style = "color:white" })</h2>
	<h2 style="color: white;text-align:center; border: 1px solid brown;background-color: saddlebrown"> Status Check </h2>
	<h3>  &nbsp; &nbsp; Name</h3>
	<h3>  &nbsp; &nbsp; Contact Number</h3>
	<h3>  &nbsp; &nbsp; Email</h3>
</head>
<body>
	<div>
	</div>
</body>
</html>