@{
	ViewBag.Title = "StaffLog";
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>StaffForm</title>
	<h2 style="color: white;text-align:center; border: 1px solid brown;background-color: saddlebrown"> @Html.ActionLink("Status Check", "StaffForm", "Staff", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Complains", "StaffComplain", "StaffComplain", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Salary Form", "SalaryForm", "Salary", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Leave Hostel", "LeaveStaffForm", "LeaveStaff", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Log out", "LoginForm", "Login", null, new { style = "color:white" })</h2>
	<h2 style="color: white;text-align:center; border: 1px solid brown;background-color: saddlebrown"> Staff Member Status </h2>
	<h3>  &nbsp; &nbsp; Name</h3>
	<h3>  &nbsp; &nbsp; Work </h3>

</head>
<body>
	<div>
	</div>
</body>
</html>

