
@{
	ViewBag.Title = "RTform";
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>RTform</title>
	<h2 style="color: white;text-align:center; border: 1px solid brown;background-color: saddlebrown"> @Html.ActionLink("Status Check", "RTform", "RT", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Complains", "complainsform", "complains", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Requests", "Requestform", "Request", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Announcements", "Announcementsform", "Announcements", null, new { style = "color:white" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Log out", "LoginForm", "Login", null, new { style = "color:white" })</h2>
	<h2 style="color: white;text-align:center; border: 1px solid brown;background-color: saddlebrown"> RT status </h2>
	<h3>  &nbsp; &nbsp; Name</h3>
	<h3>  &nbsp; &nbsp; Contact Number</h3>
	<h3>  &nbsp; &nbsp; Email</h3>
</head>
<body>
	<div>
	</div>
</body>
</html>

